ll_control:
  ll_control_node:
    ros__parameters:
      # Mode Switching (MAVROS State Strings)
      mode_map_manual: "MANUAL"
      mode_map_velocity: "ACRO"  # or STEERING
      mode_map_auto: "AUTO"      # or GUIDED/HOLD

      # Input Channels (RC Receiver)
      input_ch_fwd: 1   # Pitch
      input_ch_lat: 0   # Roll
      input_ch_yaw: 3   # Yaw

      # Output Channels (goBilda Mixer)
      output_ch_fwd: 0
      output_ch_lat: 1
      output_ch_turn: 2

      # Tuning
      input_deadband: 0.05
      
      # Velocity Limits & PID
      pid_vel_x:
        max_output: 1.0 # m/s (Max Physical Velocity)
        k_p: 0.0         # Feedforward only
        k_i: 0.0
        k_d: 0.0
        k_ff: 1.0       # 1.0 m/s -> 1.0 Normalized Output (Full Power)
      
      pid_vel_y:
        max_output: 1.0 # m/s
        k_p: 0.0
        k_i: 0.0
        k_d: 0.0
        k_ff: 1.0

      pid_yaw_rate:
        max_output: 1.57 # rad/s (~90 deg/s)
        k_p: 1.0         # 1.0 rad/s error -> 1.0 Normalized Effort (Full Power)
        k_i: 0.1         # Integral accumulation
        k_d: 0.0
        k_ff: 0.0
      
      # Safety
      rc_timeout_threshold: 0.2
      imu_timeout_threshold: 0.2
      imu_freq_threshold: 0.9
      imu_target_freq: 50.0

mavros_params_loader:
  ros__parameters:
    # SERVO[output channel]_FUNCTION: 51 + [input channel]
    # Remember to change both this and input_ch_x
    SERVO1_FUNCTION: 52 # fwd
    SERVO2_FUNCTION: 51 # lat
    SERVO3_FUNCTION: 54 # yaw

    MODE_CH: 5
    MODE1: 0
    MODE2: 0
    MODE3: 1
    MODE4: 1
    MODE5: 3
    MODE6: 3
