ll_control_node:
  ros__parameters:
    # Mode Switching Channel (PPM)
    # OFF: < mode_manual_threshold (999)
    # MANUAL: >= mode_manual_threshold AND < mode_auto_threshold (1499)
    # AUTO: >= mode_auto_threshold (1999)
    mode_channel: 4
    mode_manual_threshold: 1200
    mode_auto_threshold: 1800

    input_ch_fwd: 1   # Pitch
    input_ch_lat: 0   # Roll
    input_ch_yaw: 3   # Yaw

    # Output Channels (goBilda Mixer)
    output_ch_fwd: 0
    output_ch_lat: 1
    output_ch_turn: 2
