ll_control:
  ll_control_node:
    ros__parameters:
      # Mode Switching (RC Channel PWM)
      input_ch_mode: 4          # Channel 5 (0-indexed 4)
      mode_pwm_manual_threshold: 1300
      mode_pwm_auto_threshold: 1700
      mode_hold_name: "HOLD"

      # Input Channels (RC Receiver)
      input_ch_fwd: 1   # Pitch
      input_ch_lat: 0   # Roll
      input_ch_yaw: 3   # Yaw

      # Output Mapping (Override Channels)
      output_ch_fwd: 8
      output_ch_lat: 9
      output_ch_turn: 10
      
      # Tuning
      input_deadband: 0.05
      input_threshold_throttle: 900
      
      # Velocity Limits & PID
      pid_vel_x:
        max_output: 1.0 # m/s (Max Physical Velocity)
        k_p: 0.0         # Feedforward only
        k_i: 0.0
        k_d: 0.0
        k_ff: 1.0       # 1.0 m/s -> 1.0 Normalized Output (Full Power)
      
      pid_vel_y:
        max_output: 1.0 # m/s
        k_p: 0.0
        k_i: 0.0
        k_d: 0.0
        k_ff: 1.0

      pid_yaw_rate:
        max_output: 1.57 # rad/s (~90 deg/s)
        k_p: 1.0         # 1.0 rad/s error -> 1.0 Normalized Effort (Full Power)
        k_i: 0.1         # Integral accumulation
        k_d: 0.0
        k_ff: 0.0
      
      # Safety
      rc_timeout_threshold: 0.2
      imu_timeout_threshold: 0.2
      imu_fix_period: 2.0
      imu_freq_threshold: 0.9
      imu_target_freq: 50.0

mavros_params_loader:
  ros__parameters:
    # SERVO[output channel]_FUNCTION: 51 + [input channel]
    # corresponds to override channels
    SERVO1_FUNCTION: 36 # FL
    SERVO2_FUNCTION: 33 # FR
    SERVO3_FUNCTION: 34 # BL
    SERVO4_FUNCTION: 35 # BR

    RCMAP_ROLL: 10 # lat
    RCMAP_YAW: 11 # yaw
    RCMAP_THROTTLE: 9 # fwd

    RC1_TRIM: 1500
    RC2_TRIM: 1500
    RC3_TRIM: 1500
    RC4_TRIM: 1500

    MODE_CH: 5
    MODE1: 0
    MODE2: 0
    MODE3: 0
    MODE4: 0
    MODE5: 0
    MODE6: 0

    FS_ACTION: 2
    FS_GCS_ENABLE: 1
    FS_THR_ENABLE: 0
    FS_TIMEOUT: 0.5